<Doctype HTML>
    <html>
        <head>
            <link rel="stylesheet" href="/css/styles.css">
        </head>
        <body>
            {{>header}}
            <p> Use this site to get your weather</p>
            <form>
                <input placeholder="Enter Address">
                <button>
                    Search
                </button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
            {{>footer}}
            <script src="/js/app.js"></script>
        </body>
    </html>
